 h1{
color: rgb(0, 0, 0);
background-color: rgb(133, 226, 125);

}
h2{
font-family: cursive, Cochin, Georgia;
font-size: 40px;
font-style: italic;
} 

table{
color: aquamarine;
background-color: azure;


}